# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.env.test
.env.*.local
.env.local
coverage
.cache
.next
out
build
*.tsbuildinfo
*.tgz
.pnp.*
.pnp.json
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
yarn-error.log
.eslintcache
.parcel-cache
.cache/
.nuxt
.nuxt-storybook
.storybook/dist
.storybook-static
.svelte-kit
.idea/
*.iml
*.hprof
public/build
public/ts
__sapper____
.sass-cache
bower_components
jspm_packages
